<div class="login-container">
  <form class="login-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" 
             name="username" 
             [(ngModel)]="username" 
             required 
             #usernameRef="ngModel"
             class="form-control"
             [ngClass]="{'is-invalid': usernameRef.touched && usernameRef.invalid}">
      
      <div class="invalid-feedback" *ngIf="usernameRef.errors?.['required']">Username is required.</div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" 
             name="password" 
             [(ngModel)]="password" 
             required 
             minlength="6"
             #passwordRef="ngModel" 
             class="form-control"
             [ngClass]="{'is-invalid': passwordRef.touched && passwordRef.invalid}">
      
      <div class="invalid-feedback" *ngIf="passwordRef.errors?.['required']">Password is required.</div>
      <div class="invalid-feedback" *ngIf="passwordRef.errors?.['minlength']">Password must be at least 6 characters.</div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary w-100">Login</button>
  </form>
</div>