.example-card {
  max-width: 200px;
  float: left;
margin: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
